body {
  min-width: 320px;
}

#app {
  overflow-y: auto;
  display: block;
  height: 100%;

  .page {
    max-width: 920px;
    margin: 0 auto;

    min-height: calc(100% - #{$header-small} - #{$footer-small});

    @media all and (min-width: $break-medium) and (min-height: $break-medium) {
      min-height: calc(100% - #{$header-medium} - #{$footer-small});
    }

    @media all and (min-width: $break-medium) and (min-height: $break-large) {
      min-height: calc(100% - #{$header-medium} - #{$footer-large});
    }

    @media all and (min-width: $break-large) and (min-height: $break-medium) {
      min-height: calc(100% - #{$header-large-single-line} - #{$footer-small});
    }

    @media all and (min-width: $break-large) and (min-height: $break-large) {
      min-height: calc(100% - #{$header-large} - #{$footer-large});
    }
  }

  @media all and (max-width: $break-large - 1) {
    .layout-padding {
      padding: 0;
      margin: 0;
    }

    .layout-padding > *, .layout-padding > .flex {
      margin: 0;
    }
  }
}

section {
  padding: 10px 0;
}

/* fix the Angular-material toast position */
md-toast {
  z-index: 9999;
  position: fixed;
}

.layout-row {
  overflow: hidden;
}

/* custom fonticon rules */
.icon {
  font-family: 'carcassonne-scoreboard-font';
  font-size: 40px;
  color: #EEE;

  &.black {
    color: #1B1B1B;
  }
  &.gray {
    color: #74747E;
  }
  &.red {
    color: #982716;
  }
  &.green {
    color: #24691B;
  }
  &.yellow {
    color: #D7BC09;
  }
  &.blue {
    color: #1F459E;
  }
}
