.footer {
  padding: 10px 0;
  height: $footer-small;
  box-sizing: border-box;
  border-top: 1px solid rgb(252, 205, 37);
  background-color: rgb(251, 245, 223);
  text-align: center;

  p {
    padding: 0 10px;
    margin: 0;
    color: #999;
    font-size: 9px;

    a {
      color: $carcassonne-blue;
    }
  }

  p + p {
    padding-top: 5px;
  }
}

@media all and (min-width: $break-medium) and (min-height: $break-large) {
  .footer {
    padding: 20px 0 15px;
    height: $footer-large;

    p {
      font-size: 11px;
    }
  }
}
