/*
 * cs-button-primary
 */
.md-button.cs-button-primary,
.md-button.md-raised.cs-button-primary:not([disabled]),
.md-button.md-raised.cs-button-primary:not([disabled]):hover {
  background-color: royalblue;
  color: rgba(255,255,255,0.87);
}
.md-button.cs-button-primary.cs-button-xl {
  padding: 15px 100px;
}
.md-button.cs-button-primary.cs-button-lg {
  padding: 10px 50px;
}
.md-button.cs-button-primary.cs-button-md {
  padding: 6px 25px;
}
.md-button.cs-button-primary.cs-button-sm {
  padding: 4px 15px;
}

/*
 * cs-button-back
 */
.cs-button-back,
.md-raised.cs-button-back:not([disabled]),
.md-raised.cs-button-back:not([disabled]):hover {
  color : rgb(49, 46, 46);
  background-color: $carcassonne-yellow;
}
.cs-button-back[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

/* blue buttons */
.md-button.md-raised.blue,
.md-button.md-raised.blue:not([disabled]),
.md-button.md-raised.blue:not([disabled]):hover {
  padding: 5px 25px;
  background: $carcassonne-blue;
  color: #DDD;
}

/* red buttons */
.md-button.md-raised.red,
.md-button.md-raised.red:not([disabled]),
.md-button.md-raised.red:not([disabled]):hover {
  padding: 5px 25px;
  background: $carcassonne-red;
  color: #EEE;
}

/* Share buttons */
#share-button {
  .md-button.md-fab {
    &.cs-share,
    &.cs-share:not([disabled]),
    &.cs-share:not([disabled]):hover {
      width: 46px;
      height: 46px;
      background-color: $carcassonne-blue;

      .icon-share {
        color: #fff;
        font-size: 26px;
        line-height: 46px;
      }
    }

  }
  .md-button.md-raised.md-mini {
    background-color: $carcassonne-yellow;
    margin: 3px 6px;
    width: 36px;
    height: 36px;
    line-height: 36px;

    .icon {
      color: rgba(0,0,0,.6);
      font-size: 21px;
      line-height: 36px;
    }
  }
}

/* Alert button */
.md-button.cs-alert {
  color: $carcassonne-red-light;
}
