<div class="page-header-sub">
  <md-button class="md-raised cs-button-back" ng-href="#/">Back</md-button>
  <h2 class="home">{{gameCtrl.game.name}}</h2>
</div>

<section layout-padding layout="row" layout-align="center center">
  <md-card flex class="card">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Game setup</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>
      <h2 class="section-title">Game name</h2>

      <div layout="row" layout-align="center">
        <md-input-container flex="50">
          <label>Game name</label>
          <input ng-model="gameCtrl.game.name">
        </md-input-container>
      </div>

      <h2 class="section-title">Players</h2>

      <md-list class="users-list">
        <md-divider></md-divider>

        <!-- User list -->
        <md-list-item class="md-3-line md-no-proxy secondary-button-padding md-with-secondary" ng-repeat="(key, player) in gameCtrl.game.players">
          <img ng-src="{{player.gravatar}}" class="face" alt="{{player.name}}" ng-hide="player.editMode">

          <div class="md-list-item-text" list-item-editable>
            <h3 ng-hide="player.editMode">{{player.name}}</h3>
            <md-input-container class="input-container" ng-show="player.editMode">
              <label>Player name</label>
              <input ng-model="player.name_buffer">
            </md-input-container>

            <h4 ng-hide="player.editMode">{{player.email}}</h4>
            <md-input-container class="input-container" ng-show="player.editMode">
              <label>Player email</label>
              <input ng-model="player.email_buffer">
            </md-input-container>

            <p ng-hide="player.editMode">{{player.color}}</p>
            <md-input-container class="input-container" ng-show="player.editMode">
              <label>Player color</label>
              <md-select ng-model="player.color_buffer">
                <md-option ng-repeat="meeple in gameCtrl.game.meeples" value="{{meeple}}">
                  {{meeple}}
                </md-option>
              </md-select>
            </md-input-container>

            <div class="md-list-item">
              <i class="icon icon-meeple {{player.color}}" ng-hide="player.editMode"></i>
              <i class="icon icon-meeple {{player.color_buffer}}" ng-show="player.editMode"></i>
            </div>
          </div>


          <div ng-hide="player.editMode" class="md-secondary">
            <md-button ng-click="gameCtrl.editPlayer(key)">Edit</md-button>
            <md-button ng-click="gameCtrl.removePlayer(key)">Remove</md-button>
          </div>

          <div ng-show="player.editMode" class="md-secondary">
            <md-button ng-click="gameCtrl.saveEdit(key)">Ok</md-button>
            <md-button ng-click="gameCtrl.cancelEdit(key)">Cancel</md-button>
          </div>

          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <!-- User list End -->

      <md-button class="md-raised cs-button-primary cs-button-md" ng-click="gameCtrl.addPlayer()">Add player</md-button>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="gameCtrl.deleteGame()">Delete game</md-button>
      <md-button ng-click="gameCtrl.startGame()">Start Game</md-button>
    </md-card-actions>
  </md-card>
</section>
