<div class="page-header-sub">
  <md-content>
    <section layout="row" layout-align="start start" layout-align-sm="center center" layout-wrap>
      <md-button flex-xs="100" flex-sm="auto" flex-md="nogrow" class="md-raised cs-button-back" ng-click="gameCtrl.goTo('/')">Home</md-button>
      <md-button flex-xs="100" flex-sm="auto" flex-md="nogrow" class="md-raised cs-button-back" ng-hide="{{gameCtrl.new_game}}" ng-click="gameCtrl.goTo('/game/setup/' + gameCtrl.game_id)">Game Setup</md-button>
    </section>
  </md-content>

  <h2 class="home">{{gameCtrl.game.name}}</h2>
  <div id="hangouts-container">
    <div class="g-hangout" data-render="createhangout"></div>
  </div>
</div>

<md-content layout="row" layout-align="center start">
  <md-input-container id="gameID">
    <label>Game id</label>
    <input id="gameIDinput" ng-readonly="true" ng-click="gameCtrl.selectID($event)" ng-model="gameCtrl.game_id_r">
  </md-input-container>

  <md-button id="share-button" ng-click="gameCtrl.share(email)" aria-label="Email" class="md-fab md-raised md-mini">
    <i class="icon icon-email"></i>
  </md-button>
</md-content>

<section layout-padding layout="row" layout-align="center center">
  <md-card flex class="card">
    <md-card-content>
      <h2 class="section-title">Game status</h2>

      <div id="table-board">
        <div id="table-head">
          <div layout="row" class="ng-scope layout-row">
            <div flex class="cell" layout="row" layout-align="center center">
              <div class="log">
                Log
              </div>
            </div>
            <div flex ng-repeat="(key, player) in gameCtrl.game.players" ng-class="{selected: gameCtrl.player_selected === key}" class="cell">
              <div class="name">
                {{player.name}}
              </div>
              <div class="meeple">
                <i class="icon icon-meeple {{player.color}}"></i>
              </div>
            </div>
          </div>
        </div>

        <div id="table-body" class="table-body">
          <div class="scrollable">
            <div layout="row" class="ng-scope layout-row row" ng-repeat="log in gameCtrl.game.logs">
              <div flex class="cell">
                <div class="log">
                  {{log[0]}}
                </div>
              </div>
              <div flex ng-repeat="(key, player) in gameCtrl.game.players" ng-class="{selected: gameCtrl.player_selected === key}" class="cell">
                <div class="score-log player-{{key+1}}">
                  {{log[key+1]}}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-footer">
          <div layout="row" class="ng-scope layout-row">
            <div flex class="cell">
              <div class="log">
              </div>
            </div>
            <div flex ng-repeat="(key, player) in gameCtrl.game.players" ng-class="{selected: gameCtrl.player_selected === key}" class="cell">
              <div class="score">
                {{player.score}}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="game-console-board">
        <md-button class="md-raised blue" ng-click="gameCtrl.addPoints()">Add points</md-button>
        <md-button class="md-raised blue" ng-click="gameCtrl.nextPlayer()">Next player</md-button>
        <md-button class="md-raised red" ng-disabled="gameCtrl.undoDisabled" ng-click="gameCtrl.undo()">Undo</md-button>
      </div>

    </md-card-content>

    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="gameCtrl.endGame()" ng-disabled="true">End Game</md-button>
    </md-card-actions>
  </md-card>
</section>
