.md-button:focus {
  outline: auto #1F62B0 5px;
}
/*
 * cs-button-primary
 */
.md-button.cs-button-primary,
.md-button.md-raised.cs-button-primary:not([disabled]),
.md-button.md-raised.cs-button-primary:not([disabled]):hover {
  background-color: royalblue;
  color: rgba(255,255,255,0.87);
}
.md-button.cs-button-primary.cs-button-xl {
  padding: 15px 0;
}
.md-button.cs-button-primary.cs-button-lg {
  padding: 10px 0;
}
.md-button.cs-button-primary.cs-button-md {
  padding: 6px 0;
}
.md-button.cs-button-primary.cs-button-sm {
  padding: 4px 0;
}

/*
 * cs-button-back
 */
.cs-button-back,
.md-raised.cs-button-back:not([disabled]),
.md-raised.cs-button-back:not([disabled]):hover {
  color : rgb(49, 46, 46);
  background-color: $carcassonne-yellow;
}
.cs-button-back[disabled] {
  color : rgb(187, 187, 187);
  background-color: rgba(230, 230, 229, 0.96);
}

/* blue buttons */
.md-button.md-raised.blue,
.md-button.md-raised.blue:not([disabled]),
.md-button.md-raised.blue:not([disabled]):hover {
  padding: 5px 0;
  background: $carcassonne-blue;
  color: #DDD;
}

/* red buttons */
.md-button.md-raised.red,
.md-button.md-raised.red:not([disabled]),
.md-button.md-raised.red:not([disabled]):hover {
  padding: 5px 0;
  background: $carcassonne-red;
  color: #EEE;
}

/* Share buttons */
#share-button {
  background-color: $carcassonne-yellow;
  margin: 10px 6px;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;

  .icon {
    color: rgba(0,0,0,.65);
    font-size: 26px;
    line-height: 48px;
  }
}

/* Alert button */
.md-button.cs-alert {
  color: $carcassonne-red-light;
}
