body {
  overflow: hidden;
}

#app {
  height: 100%;
}

.page.ng-scope {
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 65px;
  bottom: 59px;
  width: 100%;

  @media all and (min-height: $break-large) {
    top: 114px;
    bottom: 84px;
  }
}

section {
  padding: 10px 0;
}

/* fix the Angular-material toast position */
md-toast {
  z-index: 10000;
  position: fixed;
}

.layout-row {
  overflow: hidden;
}

/* custom fonticon rules */
.icon {
  font-family: 'carcassonne-scoreboard-font';
  font-size: 40px;
  color: #EEE;

  &.black {
    color: #1B1B1B;
  }
  &.gray {
    color: #74747E;
  }
  &.red {
    color: #982716;
  }
  &.green {
    color: #24691B;
  }
  &.yellow {
    color: #D7BC09;
  }
  &.blue {
    color: #1F459E;
  }
}

@media screen and (max-width: 720px) {
  .layout-padding {
    padding: 0;
    margin: 0;
  }

  .layout-padding > *, .layout-padding > .flex {
    margin: 0;
  }
}
