.game-console-board {
  width: 90%;
  text-align: center;
  margin: 20px auto 0 auto;

  @media screen and (max-width: 720px) {
    width: 99%;

    .md-button.md-raised {
      padding: 5px 16px;
    }
  }
}

#gameID {
  min-width: 235px;
}

@media screen and (max-width: 720px) {
  md-card md-card-content, md-list-item.md-no-proxy {
    position: relative;
    padding: 0 12px 0 0;
  }

  md-list-item .md-secondary {
    position: absolute;
    height: 100%;
    right: 0;

    button {
      position: absolute;
      bottom: 10px;
      right: 0;
    }
  }
}
