.footer {
  padding: 30px 0 15px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid rgb(252, 205, 37);
  background-color: rgb(251, 245, 223);
  text-align: center;

  p {
    padding: 0 10px 5px 10px;
    margin: 0;
    color: #999;
    font-size: 12px;

    a {
      color: $carcassonne-blue;
    }
  }
}
